
/* Common */
body {
  font-size: 13px;
  font-family: 'Noto Sans KR', sans-serif;
  line-height: 1.4;
  height: 2000px;
}
a {
  text-decoration: none;
  color: #555;
}
/* Icon */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

header {
  background-color: #f6f5ef;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 1px solid #c3c3c3;
  box-sizing: border-box;
  position: fixed;
  top:0;
  z-index: 1;
}

.inner {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.strong {
  font-weight: 600;
}

/* Buttons */
.btn {
  display: inline-block;
  font-size: 15px;
  padding: 6px 24px;
  border: 2px solid currentColor;
  border-radius: 4px;
  transition: 0.6s;
}

.btn--green {
  border-color: #076443;
  color: #076443;
}
.btn--green:hover {
  background-color: #076443;
  color: white;
  text-decoration: underline;
  font-weight: 500;
}

.btn--light-green {
  border-color: #00704A;
  color: #00704A;
}
.btn--light-green:hover {
  background-color: #00704A;
  color: white;
  text-decoration: underline;
}
.btn--white {
  border-color: white;
  color: white;
}
.btn--white:hover {
  background-color: white;
  color: black;
  text-decoration: underline;
}
.btn--black {
  border-color: black;
  color: black;
}
.btn--black:hover {
  background-color: black;
  color: white;
  text-decoration: underline;
}
.btn--brown {
  border-color: #633510;
  color: #633510;
}
.btn--brown:hover {
  background-color: #633510;
  color: white;
  text-decoration: underline;
}
.btn--gold {
  border-color: #966932;
  color: #966932;
}
.btn--gold:hover {
  background-color: #966932;
  color: white;
  text-decoration: underline;
}

.btn--register {
  background-color: #00704A;
  border-color: #00704A;
  color: white;
}
.btn--register:hover {
  text-decoration: underline;
}
.btn--login {
  border-color: white;
  color: white;
}
.btn--login:hover {
  text-decoration: underline;
}

header > .inner {
  height: 120px;
}

/* 로고 영역 */
header .inner .header__logo {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 75px;
  height: 75px;
  margin: auto;
  left: 0;
}
header .inner .header__logo a {}
header .inner .header__logo a img {
  display: block;
}

/* 서브 메뉴 */
header .inner .header__sub-menu {
  display: flex;
  position: absolute;
  top: 6px;
  right: 50px;
}
header .inner .header__sub-menu ul {
  display: flex;

}
header .inner .header__sub-menu ul .sub-menu__item {
  padding: 10px 15px;
  position: relative;
}
header .inner .header__sub-menu ul .sub-menu__item:not(:first-child)::before {
  content: "";
  display: block;
  width: 1px;
  height: 12px;
  background-color: #c8c8c8;
  position: absolute;
  top:0;
  bottom: 0;
  margin: auto;
  left: 0;
}
header .inner .header__sub-menu ul .sub-menu__item:hover a {
  text-decoration: underline;
}
header .inner .header__sub-menu ul .sub-menu__item a {
  display: block;
  font-weight: 300;
}
header .inner .header__sub-menu .sub-search {
  margin-top: 3px;
}
header .inner .header__sub-menu .sub-search input {
  box-sizing: border-box;
  width: 36px;
  height: 34px;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
  border: 1px solid #c3c3c3;
  padding: 4px 10px;
}
header .inner .header__sub-menu .sub-search input:focus {
  width: 182px;
  font-size: 12px;
}
header .inner .header__sub-menu .sub-search span {
  position: absolute;
  top:0;
  bottom: 0;
  right: 4px;
  height: 24px;
  margin: auto;
  cursor: pointer;
}
/* 메인 메뉴 */
header .inner .header__main-menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
}
header .header__main-menu .main-menu__item {}
header .header__main-menu .main-menu__item .item__name {
  color: #333;
  font-size: 13px;
  padding: 10px 20px 34px 20px;
  cursor: pointer;
}
header .header__main-menu .main-menu__item:hover .item__name {
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
  cursor: pointer;
}

header .header__main-menu .main-menu__item .item__contents {
  position: fixed;
  width: 100%;
  background-color: #2c2a29;
  top: 120px;
  left: 0;
  height: 0px;
  /* display: none; */
  transition: .4s;
}

header .header__main-menu .main-menu__item:hover .item__contents {
  /* display: block; */
}
header .header__main-menu .main-menu__item.animate .item__contents {
  height: auto;
}

header .inner .header__main-menu .main-menu__item .item__contents .item__contents__menu {
  padding: 20px 0;
  transition: .5s;
  display: none;
}
header .header__main-menu .main-menu__item.animate .item__contents .item__contents__menu {
  display: block;
}
header .inner .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner {
  display: flex;
}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li {
  width: 200px;
  padding-right: 20px;
}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li > a {
  color :white;
  font-size: 14px;
  display: block;
  margin-bottom: 15px;
}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li > a:hover {
  text-decoration: underline;
}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li > ul {}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li > ul > li {
  color :#999;
  font-size: 12px;
  margin: 5px 0;

}
header .header__main-menu .main-menu__item .item__contents .item__contents__menu .inner > li > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
/* 배지 영역 */
header .badges {
  position: absolute;
  top : 150px;
  left: calc(1100px + (100vw - 1100px) / 2);
}
header .badges .badge {
  cursor: pointer;
}
header .badges .badge > img {
  display: block;
  width: 140px;
}
@media screen and (max-width : 1400px) {
  header .badges {
    left : calc(100vw - 150px);
  }
}


/* Visual 영역 */
.visual {
  margin-top: 120px;
  position: relative;
  height: 646px;
  background-image: url('../images/visual_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
.visual > .inner {
  position: relative;
  height: 100%;
}
.visual .inner .visual__contents,
.visual .inner .visual__image1, 
.visual .inner .visual__image2,
.visual .inner .visual__image3 {
  transition: .4s;
  opacity: 0;
}
.visual .inner .visual__contents {
  position:absolute;
  left: -132px;
  top:181px;
  width: 340px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.visual .inner .visual__contents.animate {
  opacity: 1;
}

.visual .inner .visual__contents .contents__image {
  display: block;
}
.visual .inner .visual__contents > .btn.btn--green {
  margin-top: 40px;
}

.visual .inner .visual__image1 {
  position:absolute;
  top: 120px;
  left: 340px;
  width: 290px;
}
.visual .inner .visual__image1.animate {
  transition-delay: 0.4s;
  opacity: 1;
}
.visual .inner .visual__image2 {
  position:absolute;
  width: 310px;
  top:208px;
  left: 538px;
}
.visual .inner .visual__image2.animate {
  transition-delay: 0.8s;
  opacity: 1;
}
.visual .inner .visual__image3 {
  position:absolute;
  width: 310px;
  right: 27px;
  bottom:184px;
}
.visual .inner .visual__image3.animate {
  transition-delay: 1.2s;
  opacity: 1;
}

/* Notice */
.notice {
  position: relative;
}
.notice .bg-left {
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
  background-color: black;
}
.notice .bg-right {
  position: absolute;
  right: 0;
  width: 40%;
  height: 100%;
  background-color: #F5F6EF;
}
.notice .inner {
  position: relative;
  display: flex;
  height: 62px;
}
.notice .inner .item__notice {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 55vw;
  position: absolute;
  left: 0;
}
.notice .inner .item__notice > li {
  position: absolute;
  left: 0;
  color: white;
  font-size: 14px;
}
.notice .inner .item__notice > li:first-child {
  font-weight: 600;
  font-size: 16px;
}

.notice .inner .item__notice .swiper-container {
  position: absolute;
  left: 80px;
  width : 90%;
  height: 62px;
  overflow: hidden;
  z-index: 0;
}
.notice .inner .item__notice .swiper-container .swiper-wrapper {}
.notice .inner .item__notice .swiper-container .swiper-wrapper .swiper-slide {
  width: 80%;
  height: 62px;
  line-height: 62px;
  overflow: hidden;
  color : white;
  font-size: 14px;
  cursor: pointer;
}

.notice .inner .item__notice > span {
  color : white;
  font-size: 36px;
  position: absolute;
  right: 0px;
  cursor: pointer;
}
.notice .inner .item__promotion {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  width: 40vw;
  height: 100%;
}
.notice .inner .item__promotion > li {
  color: black;
  font-size: 16px;
  font-weight: 400;
  margin-right: 70px;
}
.notice .inner .item__promotion > span {
  font-size: 36px;
  cursor: pointer;
  transition: .4s;
}
.notice .inner .item__promotion > span.toggle {
  transform: rotate(180deg);
}

/* Promotion */
.notice .promotion__contents {
  position: relative;
  height: 0;
  overflow: hidden;
  display: block;
  background-color: #f6f5ef;
  transition: height .5s;
}
.notice .promotion__contents.animate {
  height: 658px;
}

.notice .promotion__contents .swiper-container {
  width : calc(819px * 3 + 20px);
  height: 553px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  top : 40px;
}
.notice .promotion__contents .swiper-container .swiper-wrapper {

}
.notice .promotion__contents .swiper-container .swiper-wrapper .swiper-slide {}

/* Reward */
.reward {
  position: relative;
  background-color: #1e3932;
}
.reward > .inner {
  padding: 30px 0 40px 0;
  display: flex;
  position: relative;
}
.reward .inner .contents {
  flex-grow: 1;
  position: relative;
}
.reward .inner .reward__logo {
  display: block;
  width: 176px;
  height: 155px;
  margin: 0 40px 0 40px;
}
.reward .inner .contents__title {
  font-size: 26px;
}
.reward .inner p {
  font-size: 17px;
  color: white;
  line-height: 1.4;
  flex-grow: 1;
}
.reward .inner .contents > p {
  padding-bottom: 12px;
}
.reward .inner .contents > p:nth-child(2) {
  box-shadow: 0 0.5px #f8f7f4;
}
.reward .inner .contents__buttons {
  position: absolute;
  right: 0;
  top:54px;
  font-size: 14px;
}
.reward .inner .contents__buttons > .btn.btn--register {
  margin-right: 8px;
}
.reward .inner .contents__buttons > .btn.btn--login {}
.reward .inner .reward__gift {
  padding-top: 20px;
  display: flex;
}
.reward .inner .reward__gift p {
  font-size: 14px;
  font-weight: 300;
}
.reward .inner .reward__gift > .btn.btn--login {
  font-size: 14px;
}

/* Elsalvador 영역 */
section.elsalvador {
  position: relative;
  background-image: url('../images/elsalvador_bg.jpg');
  background-position: center;
  background-size: 133%;
  height: 500px;
}
section.elsalvador > .inner {
  position: relative;
}
section.elsalvador .contents__image {
  width: 310px;
  display: block;
  position: absolute;
  top:43px;
  left: 145px;
  transform: translateX(-500px);
  opacity: 0;
  transition: 1.4s ease-in-out;
}
section.elsalvador .contents__image.animate {
  transform: translateX(0px);
  opacity: 1;
}

section.elsalvador .contents__right {
  position: absolute;
  top:172px;
  right: 167px;
  height: 165px;
  width: 337px;
  transform: translateX(500px);
  opacity: 0;
  transition: 1.8s ease-in-out;
}
section.elsalvador .contents__right.animate {
  transform: translateX(0px);
  opacity: 1;
}

section.elsalvador .contents__right > img.contents__text {
  width: 337px;
  display: block;
  position: absolute;
}
section.elsalvador .contents__right > .btn.btn--brown {
  position: absolute;
  bottom: 0px;
  font-size: 15px;
}

/* Ethopia */
.ethiopia {
  position: relative;
  background-image: url('../images/ethiopia_bg.png');
  height: 400px;
}
.ethiopia::before {
  content: "";
  position: absolute;
  left: -50px;
  width: 420px;
  height: 400px;
  background-image: url('../images/ethiopia_before.png');
  
}
.ethiopia::after {
  content: "";
  position: absolute;
  right: 0;
  width: 361px;
  height: 400px;
  background-image: url('../images/ethiopia_after.png');
}
.ethiopia .inner {
  position: relative;
}
.ethiopia .contents__text {
  width: 496px;
  position: absolute;
  top:125px;
  
  transition: .9s;
  transition-delay: .3s;
  opacity: 0;
}
.ethiopia .contents__image {
  position: absolute;
  right: -400px;

  transition: .9s;
  opacity: 0;
}

.ethiopia .contents__text.animate,
.ethiopia .contents__image.animate,
.ethiopia .btn.btn--gold.animate {
  opacity: 1;
}
.ethiopia .btn.btn--gold {
  position: absolute;
  top:275px;
  left: 260px;

  transition: .9s;
  transition-delay: .3s;
  opacity: 0;
}

/* Favorite */

.favorite {
  position: relative;
  height: 800px;
  background-image: url('../images/fav_bg.png');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.favorite .inner {
  position: relative;
  height: 100%;
}
.favorite .favorite__contents {
  width: 362px;
  height: 483px;
  position: relative;
  top:120px;
}

.favorite .favorite__contents .contents__title {
  position: absolute;
  width: 258px;
  right: 0;

  opacity: 0;
  transform: translateX(-500px);
  transition: 1.5s;
}
.favorite .favorite__contents .contents__title.animate {
  opacity: 1;
  transform: translateX(0px);
  transition-delay: .3s;
}
.favorite .favorite__contents .contents__text {
  position: absolute;
  width: 362px;
  right: 0;
  top:249px;

  opacity: 0;
  transform: translateX(-500px);
  transition: 1.5s;
}
.favorite .favorite__contents .contents__text.animate {
  opacity: 1;
  transform: translateX(0px);
  transition-delay: .6s;
}
.favorite .favorite__contents .btn.btn--white {
  position: absolute;
  right: 0;
  bottom:0;

  opacity: 0;
  transform: translateX(-500px);
  transition: 1.5s;
}
.favorite .favorite__contents .btn.btn--white.animate {
  opacity: 1;
  transform: translateX(0px);
  transition-delay: .9s;
}

.favorite .contents__image {
  position: absolute;
  top:100px;
  right: -215px;
  width: 912px;
}

/* Magazine */
section.magazine {
  position: relative;
  height: 380px;
  background-image: url('../images/magazine_bg.png');
  background-position: center 60px;
}
.magazine > .inner {
  position: relative;
  height: 380px;
}
.magazine .contents__title {
  width: 588px;
  position: absolute;
  top:163px;
  left: 56px;
}
.magazine .contents__image {
  width: 348px;
  position: absolute;
  top:0;
  right: 59px;

  opacity: 0;
  transition: .6s;
}
.magazine .contents__image.animate {
  opacity: 1;
}

.magazine .btn.btn--black {
  position: absolute;
  top:298px;
  left:290px
}

/* Find Store */
section.store {
  position: relative;
  height: 400px;
  background-image: url('../images/store_bg.jpg');
  background-position: center;
}
.store > .inner {
  position: relative;
  height: 100%;
}
.store .contents__image1 {
  position: absolute;
  width: 366px;
  left: 65px;

  opacity: 0;
  transition: .9s;
}
.store .contents__image1.animate {
  transition-delay: .3s;
  opacity: 1;
}
.store .contents__image2 {
  position: absolute;
  width: 228px;
  left: 295px;
  top: 145px;

  opacity: 0;
  transition: .9s;
}
.store .contents__image2.animate {
  transition-delay: .6s;
  opacity: 1;
}
.store .contents__image3 {
  position: absolute;
  width: 348px;
  top: 0;
  left:150px;
}
.store .contents__image4 {
  position: absolute;
  width: 230px;
  right: -68px;
  bottom: 0;

  opacity: 0;
  transition: .9s;
}
.store .contents__image4.animate {
  transition-delay: .9s;
  opacity: 1;
}
.store .store__contents {
  width: 385px;
  position: absolute;
  top:100px;
  right:110px;
}
.store .store__contents .contents__title {
  width: 385px;
  margin-bottom: 12px;
}
.store .store__contents .contents__text {
  width: 366px;
  margin-bottom: 30px;
}
.store .store__contents .btn.btn--black {}

/* Footer */
/* Footer menu */
footer {
  background-color: #2C2A29;
  color : white;
}
footer > .inner {
  padding: 30px 0;
}

footer .footer__menu {
  display: flex;
}
footer .footer__menu .menu__left {
  width: 90%;
  display: flex;
}

footer .footer__menu .menu__right {
  width: 10%;
}

footer .footer__menu .menu__left > ul.menu__item {}
footer .footer__menu .menu__left > ul.menu__item > li {
  width: 200px;
  padding-left: 20px;

}
footer .footer__menu .menu__left > ul.menu__item > li:not(.item__title) {
  padding: 5px 0;
}
footer .footer__menu .menu__left > ul.menu__item > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
footer .footer__menu .menu__left > ul.menu__item > li > a {
  color : white;
  cursor: pointer;
  display: block;
  margin: 10px 0;
}

footer .footer__menu .menu__right > img {
  width: 14px;
  float: right;
}

/* Footer sub-menu */
footer .footer__sub-menu {
  display: flex;
  justify-content: space-evenly;
  padding: 40px 50px 10px;
}
footer .footer__sub-menu > li {
  flex-grow: 1;
}
footer .footer__sub-menu > li > a {
  color : #ccc;
}
footer .footer__sub-menu > li:hover {
  text-decoration: underline;
}
footer .footer__sub-menu > li:first-child > a {
  color:#00B050;
  font-weight: 700;
}
footer .footer__sub-menu > li.contour {
  font-size: 9px;
  color : #999;
  line-height: 18px;
}

/* Footer Buttons */
footer .footer__buttons {
  text-align: center;
  margin-bottom: 20px;
}
footer .footer__buttons > a {
  margin-right:2px;
  font-size: 12px;
}
footer .footer__buttons:first-child > a {}
footer .footer__buttons:nth-child(2) > a {}
footer .footer__buttons:last-child > a {}

/* Footer Copylight */
footer .footer__copylight {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  color: #999;
  padding-bottom: 20px;
  font-weight: 300;
}